body {
  background-color: linen;

}

#menuBar {
  background-color: black;

}

.menuListText {
  color:white;
  font-family: verdana;
}

#myInfo {
  background-color: #fcbf49;

}

.myInfoTitle {
  font-family: verdana;
  font-weight: bold;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.myInfoText {
  font-family: verdana;
}

h1 {
  color: cornflower blue;
  cursor: pointer;
}

h1 {
  background: linear-gradient(to right, #003049 0, hsl(0, 0%, 100%) 10%, #003049 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.btn-color {
    background-color: #eae2b7;
}

img {
    max-width: 100%;
    height: auto;
}

.img-center {
    display: flex;
    justify-content: center;
    height:100%;
    align-items: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1d3557;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #fcbf49;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d62828;
    border-radius: 10px;
  }

